/* 
    Document   : member
    Created on : Apr 29, 2012, 2:35:57 PM
    Author     : Leader
    Description:
        Purpose of the stylesheet follows.
*/

body{
    background: url('../Images/Background.jpg') 0 50px repeat-y;
}

a{
    color: blue;
}

#top{
    position: absolute;
    left:171px;
    width:1024px;
    height:150px
}

#body{
    position: absolute;
    left:171px;
    top:150px;
    width:1024px
}

.icon{
    position: absolute;
    top:20px;
    width:128px;
    height:128px
}

